// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$rojo: #E94B5B;
$verde-oscuro: #163C22;
$verde-claro: #D2E090;
$amarillo: #FDC52C;
$gris-muy-claro: #F9F9F9;
$gris-claro: #F2F2F2;
$verde-oscuro-hover: #112C19;
$verde-claro-hover: #99A369;


