.btn-flat {
  padding: 8px 24px;
  border-radius: 4px;
  transition: background 0.3s ease;
  position: relative;
  top: 16px;
}
.btn-primary-lafi {
  background: $verde-claro;
  color: $verde-oscuro;
  &:hover {
    background: $verde-claro-hover;
    color: $verde-oscuro;
  }
}
.btn-secondary-lafi {
  background: $verde-oscuro;
  color: $gris-muy-claro;
  &:hover {
    background: $verde-oscuro-hover;
    color: $gris-claro;
  }
}
