.navbar-lewagon {
  justify-content: space-between;
  background-color: transparent;
  transition: 0.7s opacity ease;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  background-color: white;
}

.navbar-lewagon-transparent {
  opacity: 0.2;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 160px;
}

@media(max-width: 330px) {
  .navbar-lewagon .navbar-brand img {
    width: 120px;
  }
}
